* {
  font-family: 'Bubblegum Sans' !important;
  text-align: center !important;
}

body {
  background-color:blanchedalmond !important;
}

hr {
  border: 1px solid #000000;
  width:150px !important;
}

button {
  background-color: #ff8000 !important;
  border: 2px solid #805000 !important;
  border-radius: 10px !important;
  cursor: pointer !important;
  margin: 10px !important;
  outline: none !important;
  padding: 5px 7px !important;
  transition: 0.4s !important;
}

button#play, #description {
  background-color: #50ffff !important;
  border: 2px solid #00a080 !important;
  border-radius: 15px !important;
  box-shadow: 0 4px #005040 !important;
  display: block !important;
  margin: 7px auto -15px auto !important;
}

button:hover {
  background-color: #ffa040 !important;
}

button#play:hover {
  background-color: #00b0b0 !important;
  border: 2px solid #008070 !important;
  box-shadow: 0 4px #004035 !important;
}