body {
  background-color:blanchedalmond;
}

button#play {
  background-color: #50ffff;
  border: 2px solid #00a078;
  border-radius: 15px;
  box-shadow: 0 2px #000000;
  cursor: pointer;
  display: block;
  margin: 7px auto -15px auto;
  outline: none;
  padding: 5px 7px;
  transition: 0.4s;
}

#short {
  width:150px;
}

button {
  background-color: #ff8000;
  border: 2px solid #805000;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  outline: none;
}

button:hover {
  background-color: #ffa040;
}

* {
  font-family: 'Bubblegum Sans';

}

div#description {
  border: 1px solid;
  background-color:gray;
}

#shop {
  text-align: center;
}

