* {
  font-family: 'Bubblegum Sans';
  text-align: center;
}

body {
  background-color:blanchedalmond;
}

hr {
  border: 1px solid #000000;
  width:150px;
}

button {
  background-color: #ff8000;
  border: 2px solid #805000;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  outline: none;
  padding: 5px 7px;
  transition: 0.4s;
}

button#play, #description {
  background-color: #50ffff;
  border: 2px solid #00a080;
  border-radius: 15px;
  box-shadow: 0 4px #005040;
  display: block;
  margin: 7px auto -15px auto;
}

button:hover {
  background-color: #ffa040;
}

button#play:hover {
  background-color: #00b0b0;
  border: 2px solid #008070;
  box-shadow: 0 4px #004035
}